/* Empty. Add your own CSS if you like */
/*custom is class added to ion-content,*/

.custom {
  background-color: #3f4041 !important;
  color: #ffffff;
}

/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border: none;
  border-top: 1px solid;
  border-bottom: 2px solid;
  border-color: #666;
  color: #F0F1F1;
}

/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 1px solid #666;
}

/*Ion-item adds item-complex and an inner div, .item-content*/
/* this needs to be transparent too, but doesnt need borders*/
.custom .item-complex .item-content, .custom .item-radio .item-content {
  background-color: transparent;
}


/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: #F0F1F1;
}

